@import "../../vars.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&display=swap');
.navbar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 61px;
    z-index: 2;
    margin: 0 8%;
    gap: 30px;
}

.title{
    font-family: "Poppins";
    font-size: 30px;
    font-weight:bolder;
    text-decoration: none;
    
}



.menu{
    display: flex;
}

.menuBtn{
    display: none;
}

.menuItems{
    display: flex;
    gap: 47px;
}

.menuItem{
    font-size: 25px;
    color: rgb(15, 232, 207);
}


@media screen and (max-width: 768px) {
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        margin-left: 5%;
        /* margin-right: 0%; */
        padding: 20px 10px 0 10px;
    }

    .menu{
        position: absolute;
        right: 0;
        margin-right: 10%;
        flex-direction: column;
        align-items: flex-end;
    }

    .menuBtn{
        display: block;
    }

    .menuItems{
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 11px;
        padding: 24px 33px;
        background: rgb(3, 13, 30);
        border-radius: 5px;
        margin-top: 4px;
    }

    .menuOpen{
        display: flex;
        z-index: 1;
    }
}

@media screen and (max-width: 1024px) {
    .navbar{
        margin-top: 30px;
        margin: 0 5%;
    }
}